nav {
    width: 220px;
    height: 100%;
    background-color: #000000;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: grid;
    margin-top: 10px;
    font-size: 20px;
}
nav h1{
    color: white;
    margin: 10px;
}
a:hover {
    width:80px;
    border: white;
    border: 1px solid;
    border-radius: 1px;
    transition: 0.2s;
    background-color: rgb(56, 56, 56);
    
}

.titulo {
    align-items: center;
}
.botones a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    background-color:rgb(36, 36, 36) ;
    color: white;
}
.informacion {
    font-size: 30px;
}
.botones :hover {
    color: rgb(70, 69, 69);
    background-color: rgb(70, 69, 69);
}
.Perfil {
    margin-left: 250px;
    margin-top: 150px;
    width: 80%;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    padding: 40px 0px;

}
.foto img {
    box-shadow: 1px 2px 5px rgb(252, 252, 252);
}
.Perfil .foto {
    width: 80%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: right;
}
.logo {
    width: 20%;
    height: 10%;
    border-radius: 20%;
}
.contacto {
    margin-left: 10%;
    text-align: center;
    margin-top: 150px;
    width: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    padding: 40px 0px;

}

.sobremi {
    margin-left: 250px;
    margin-top: 150px;
    width: 80%;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    padding: 40px 0px;
    box-shadow: black;
}
.sobremi a{
    text-decoration: none;
    color: white;
}
.sobremi .foto {
    width: 90%;
    height: 70%;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 10px;
    justify-content: right;
}

.label {
    display: flex;
    flex-direction: column;
}
.texto  { 
    margin-left: 35%;
    justify-content: center;
    display: flex;
    flex-direction:column ;
}
.mascotas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 250px;
}
.mascotas div {
    background-color: #000000;
    text-align: center;
    height:400px ;
    width: 80%;
}
.mascotas img {
    display: flex;
    height:60% ;
    width:90% ;
    flex: 0 0 50%; 
    padding: 20px;
}
.mascotas div:hover {
    width: 85%;
    height:450px ;
    transition: 0.2s;
}

